<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>Sign Up</title>
</head>
<body>

  <%- include('./partials/nav') %>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-5">

          <form action="/user/signup" method="post">
          <h3 class="mb-4 text-center">Sign Up</h3>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">
              Full Name
            </label>
            <input
              type="text"
              name="fullName"              class="form-control"
              id="fullName"
              aria-describedby="fullName"
            >
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">
              Email address
            </label>
            <input
              type="email"
              name="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            >
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">
              Password
            </label>
            <input
              type="password"
              name="password"
              class="form-control"
              id="exampleInputPassword1"
            >
          </div>

          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            >
            <label class="form-check-label" for="exampleCheck1">
              Check me out
            </label>
          </div>

          <button type="submit" class="btn btn-primary w-100">
            Submit
          </button>
        </form>

      </div>
    </div>
  </div>

  <%- include('./partials/script') %>

</body>
</html>
